Json templates/R44 _ 🍳 Create Image (Nanobanana via Kie AI) (1).json
{
  "name": "R44 | 🍳 Create Image (Nanobanana via Kie AI)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "image_prompt"
            },
            {
              "name": "image_1"
            },
            {
              "name": "image_2"
            },
            {
              "name": "image_3"
            },
            {
              "name": "aspect_ratio"
            }
          ]
        }
      },
      "id": "9651fa7f-1ec0-4fa4-9834-a359231a7fde",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        624,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/nano-banana-edit\",\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($json.image_prompt) }},\n    \"output_format\": \"jpeg\",\n    \"image_size\": \"{{ $('When Executed by Another Workflow').item.json.aspect_ratio }}\"\n\n    {{ \n      (() => {\n        const imgs = [\n          $json.image_1,\n          $json.image_2,\n          $json.image_3,\n          $json.image_4\n        ].filter(i => i && i !== \"\");\n        return imgs.length > 0\n          ? `, \"image_urls\": ${JSON.stringify(imgs)}`\n          : \"\";\n      })()\n    }}\n  }\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        720
      ],
      "id": "7b5f1ed4-ed01-4c72-bc7b-2c2c8b5ebb7f",
      "name": "Create Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Image').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        720
      ],
      "id": "41106a31-a944-4d4c-92c3-252bd05fe560",
      "name": "Get Image",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      }
    },
    {
      "parameters": {
        "content": "# Create Image (Nanobanana 🍌 via Kie AI)\n### by Jay E from RoboNuggets🥚",
        "height": 96,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        768,
        592
      ],
      "id": "6d636d8b-e4df-4674-bd4c-7a677b961194",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1072,
        720
      ],
      "id": "3c080941-8f63-4d02-8084-c920a1c4d245",
      "name": "Wait1",
      "webhookId": "6b59a623-9513-44d1-ad27-2ab6c222f78b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf05a398-eb00-4e25-8de6-3ae7d10e69dd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4686d0f8-4428-4d81-9c40-c9d56b69ab02",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "ing",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "in progress"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "error"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1520,
        704
      ],
      "id": "0226db92-1749-411f-8f31-63ddff281381",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea52740c-ba3b-4a73-82ee-2b7a0b9d7e01",
              "name": "image_result",
              "value": "={{ $json.data.failMsg }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        816
      ],
      "id": "d786548c-b83a-4328-b3ca-5a750fb2954a",
      "name": "Return error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea52740c-ba3b-4a73-82ee-2b7a0b9d7e01",
              "name": "image_result",
              "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1744,
        624
      ],
      "id": "394a99b1-2ab8-46f2-8953-9e96950a9dde",
      "name": "Return image"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Return image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa0b36bc-00e4-4491-9cf6-1a6a510763a1",
  "meta": {
    "instanceId": "addaa68bf5af965c06c3765c811549851eb65db8df4677e0c6253726ffcac493"
  },
  "id": "sPhOq2jPkQpf7x43",
  "tags": []
}